extends base 

block content
  main.main
    .error  
      .error__title
        hr
        h2.heading-secondary.heading-secondary--error Ops!, something went wrong! 
        h2.heading-secondary.heading-secondary--error May be wrong url.  
      .error__msg= message 